* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: white url("images/pexels-photo.jpg");
  background-size: cover;
}

/*h2 {
  color: white;
}*/
/*#main-header {
  background: green;
  color: white;
}

.navbar-brand {
  color: white;
}
*/
