* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          color: white;
          font-family: 'Raleway', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: white url("images/pexels-photo.jpg");
  background-size: cover;
}
#main-header a {
  color: white;
}
.review-list a {
  color: white;
}
.strain-list-star a {
  color: white;
}
