{% extends 'base.html' %}

{% block title %}
<h2>Latest reviews</h2>
{% endblock %}

{% block content %}
{% if latest_review_list %}
<div class="review-list">
    {% for review in latest_review_list %}
    <div>
        <h4><a href="{% url 'strain_review:strain_review_detail' review.id %}">
        {{ review.strain.name }}
        </a></h4>
        <h6>rated {{ review.rating }} of 5 by <a href="{% url 'strain_review:user_review_list' review.user_name %}" >{{ review.user_name }}</a></h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock%}
